body {
    background-color: #24353f;
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    display: none;
    width: 100%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page.active {
    display: flex;
}

.container {
    background-color: #24353f;
    padding: 40px;
    border-radius: 8px;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    text-align: center;
    width: 800px;
}

h2 {
    color: #17a2b8;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #17a2b8;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

p {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

input::placeholder {
    color: rgb(182, 182, 182);
}

button {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 400;
}

button:hover {
    background-color: #17a2b8;
    color: #24353f;
}

a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    width: 100%;
    background-color: #24353f;
    color: #17a2b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.navbar h1 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 40px;
}

.navbar button {
    width: auto;
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 40px;
}

.navbar button:hover {
    background-color: RGB(255, 193, 7);
    color: white;
}

.welcome-box {
    background-color: #24353f;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    color: #17a2b8;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    min-width: 700px;
}

textarea {
    width: 100%;
    min-height: 120px;
    background-color: transparent;
    border: 1px solid #17a2b8;
    border-radius: 4px;
    color: white;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
}

.error {
  display: block;
  color: #ff6b6b;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 5px;
}